In [2]:
import numpy as np 
import pandas as pd

### Data Loading 
Loaded the Avazu dataset into a dataframe called data using pandas. 
All the data is compiled into one csv file, so there is no need for data joining.

In [3]:
data = pd.read_csv('train.csv')

### Data Definition 
In order to understand the data features, I loaded the column names, data types, and summary statistics for each column.

In [4]:
data.shape

(40428967, 24)

In [5]:
data.columns

Index(['id', 'click', 'hour', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21'],
      dtype='object')

In [6]:
data.dtypes

id                  float64
click                 int64
hour                  int64
C1                    int64
banner_pos            int64
site_id              object
site_domain          object
site_category        object
app_id               object
app_domain           object
app_category         object
device_id            object
device_ip            object
device_model         object
device_type           int64
device_conn_type      int64
C14                   int64
C15                   int64
C16                   int64
C17                   int64
C18                   int64
C19                   int64
C20                   int64
C21                   int64
dtype: object

In [11]:
data.describe()

,id,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
count,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07,4.042897e+07
mean,9.223017e+18,1.698056e-01,1.410256e+07,1.004968e+03,2.880146e-01,1.015305e+00,3.313150e-01,1.884181e+04,3.188831e+02,6.010201e+01,2.112601e+03,1.432499e+00,2.271444e+02,5.321685e+04,8.338229e+01
std,5.325443e+18,3.754620e-01,2.966837e+02,1.094586e+00,5.063820e-01,5.274336e-01,8.547935e-01,4.959457e+03,2.127250e+01,4.729538e+01,6.094124e+02,1.326227e+00,3.510221e+02,4.995682e+04,7.028996e+01
min,5.211594e+11,0.000000e+00,1.410210e+07,1.001000e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.750000e+02,1.200000e+02,2.000000e+01,1.120000e+02,0.000000e+00,3.300000e+01,-1.000000e+00,1.000000e+00
25%,4.611181e+18,0.000000e+00,1.410230e+07,1.005000e+03,0.000000e+00,1.000000e+00,0.000000e+00,1.692000e+04,3.200000e+02,5.000000e+01,1.863000e+03,0.000000e+00,3.500000e+01,-1.000000e+00,2.300000e+01
50%,9.223224e+18,0.000000e+00,1.410260e+07,1.005000e+03,0.000000e+00,1.000000e+00,0.000000e+00,2.034600e+04,3.200000e+02,5.000000e+01,2.323000e+03,2.000000e+00,3.900000e+01,1.000480e+05,6.100000e+01
75%,1.383561e+19,0.000000e+00,1.410281e+07,1.005000e+03,1.000000e+00,1.000000e+00,0.000000e+00,2.189400e+04,3.200000e+02,5.000000e+01,2.526000e+03,3.000000e+00,1.710000e+02,1.000930e+05,1.010000e+02
max,1.844674e+19,1.000000e+00,1.410302e+07,1.012000e+03,7.000000e+00,5.000000e+00,5.000000e+00,2.405200e+04,1.024000e+03,1.024000e+03,2.758000e+03,3.000000e+00,1.959000e+03,1.002480e+05,2.550000e+02

#### I will be analyzing each feature column for my project, so I will wait until the EDA to drop any columns if needed.

### Data Cleaning 
Fortunately, my dataset has no missing values, NA values, or duplicates. Therefore, the cleaning is all done for now.

In [16]:
data.info(null_counts=True)

C:\Users\amand\AppData\Local\Temp\ipykernel_12488\2063078779.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40428967 entries, 0 to 40428966
Data columns (total 24 columns):
 #   Column            Non-Null Count     Dtype
---  ------            --------------     -----
 0   id                40428967 non-null  float64
 1   click             40428967 non-null  int64
 2   hour              40428967 non-null  int64
 3   C1                40428967 non-null  int64
 4   banner_pos        40428967 non-null  int64
 5   site_id           40428967 non-null  object
 6   site_domain       40428967 non-null  object
 7   site_category     40428967 non-null  object
 8   app_id            40428967 non-null  object
 9   app_domain        40428967 non-null  object
 10  app_category      40428967 non-null  object
 11  device_id         40428967 non-null  object
 12  device_ip         40428967 non-null  object
 13  device_model      40428967 non-null  object
 14  device_type       40428967 non-null  int64
 15  device_conn_type  40428967 non-null  int64
 16  C14               40428967 non-null  int64
 17  C15               40428967 non-null  int64
 18  C16               40428967 non-null  int64
 19  C17               40428967 non-null  int64
 20  C18               40428967 non-null  int64
 21  C19               40428967 non-null  int64
 22  C20               40428967 non-null  int64
 23  C21               40428967 non-null  int64
dtypes: float64(1), int64(14), object(9)
memory usage: 7.2+ GB

In [12]:
data.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
40428962    False
40428963    False
40428964    False
40428965    False
40428966    False
Length: 40428967, dtype: bool

In [13]:
data.duplicated().sum()

0